{% extends "back/base.html" %}

{% block content %}

<div class="jumbotron" style="width: 50rem;" id="loginCard">
    <img src="/static/fm_logo.png" class="card-img-top" alt="Logo Fabryki Mruczenia" id="output">

    <form action="#" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Username</label>
            <input required type="text" class="form-control" name="username" id="username" value="{{ username }}">
        </div>

        <div class="form-group">
            <label for="name">Password</label>
            <input required type="password" class="form-control" name="password" id="password">
        </div>      
        
        <div class="form-group">
            <label for="name">Confirm Password</label>
            <input required type="password" class="form-control" name="confirm_password" id="confirm_password">
        </div>   

        <br>

        <span class="changed">{{ changed }}</span>
        <br>

        <button type="submit" value="submit" class="btn btn-primary mt-3">Zmień hasło</button>
        <br>
    </form>
</div>

{% endblock %}