{% extends "static/staticLayout.html" %}

{% block body %}

<h1 class="display-4 mb-5">Adopcja</h1>

<p class="lead mt-5">Po wizycie przedadopcyjnej, wolontariusz spisuje z niej relacje i przedstawia ją
    reszcie wolontariuszy. Głosujemy potem czy dom będzie bezpiecznym miejscem dla kociaka i czy będzie w
    nim kochany i traktowany jak członek rodziny. Jeśli tak, to zawiadamiamy rodzinę o szczęśliwej nowinie.
    Jeśli nie, to powiadamiamy rodzinę, że niestety kociak nie może zostać wyadoptowany.
    Po kota można pojechać samodzielnie do domu tymczasowego w którym obecnie przebywa, jednak wolontariusze
    mogą kota przywieść do adoptującego.
    Wraz z przekazaniem kota, adoptujący podpisuję umowę adopcyjną. Zawiera ona między innymi zapisek o tym,
    że przekazując kota przekazujemy całą wiedzę o jego zdrowiu.
    Koty, które trafiają do nowego domu dostają swoje książeczki zdrowia z okresu przebywania w fundacji.
</p>

{% endblock %}