{% extends "static/staticLayout.html" %}

{% block body %}

<h1 class="display-4 mb-5">Ankieta</h1>

<p class="lead mt-5">Czym jest ankieta adopcyjna?<br><br>Formularzem z pytaniami na które odpowiadają osoby
    zainteresowane adopcją. Dzięki niej możemy się z Wami skontaktować.</p>
<hr class="my-4">
<p>Kliknij tutaj, aby wypełnić ankietę</p>
<a
    href="https://docs.google.com/forms/d/e/1FAIpQLSf_8fu3kTHGYkKICD7vpKbsDYEXj6smlW8cj6BgPJT6wm3EQg/viewform?fbclid=IwAR0OIJ2Wj68IEWQZ6bbE0YcB76lt2XbR3lHfuw-XitScFxy2x9ips9JsAis"><button
        type="button" class="btn btn-outline-primary">Ankieta</button></a>

{% endblock %}