{% extends "layout.html" %}

{% block content %}


<div class="row carousel-row no-gutters">

    <div class="col-2 sides"></div>

    <div class="col-8 justify-content-center text-center">

        <div class="jumbotron about">
            <h1 class="display-4 mb-5">Darowizny pieniężne</h1>

            <p class="lead mt-5">Zbiórki na Siepomaga:<br>
                <a style="text-decoration: none;" href="https://www.ratujemyzwierzaki.pl/karmanamiesiac">Karma na miesiąc</a><br>
                <a style="text-decoration: none;" href="https://www.ratujemyzwierzaki.pl/akcjakastracjafabryki">Akcja kastracja fabryki</a><br><br>
                Wpłaty na konto<br>
                Fundacja Prawnej Ochrony Zwierząt LEX NOVA ul. Towarowa 20 B, 10-417 Olsztyn.<br><br>
                Numer rachunku bankowego:<br>                
                03 1440 1228 0000 0000 1742 1255 z dopiskiem "Fabryka Mruczenia"<br>
                PayPal fpoz.lex.nova@gmail.com z dopiskiem Fabryka Mruczenia<br><br>
                Dla przelewów z zagranicy:<br>
                IBAN: PL 031440 12280000000017421255<br>
                SWIFT: BPKOPLPW 03144012280000000017421255<br>
            </p>

            <hr class="my-4">
            <p>Więcej informacji</p>
            <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="mailto:fabrykamruczenia@gmail.com"><i class="far fa-envelope fa-3x"></i></a>
        </div>

    </div>

    <div class="col-2 sides"></div>

</div>


{% endblock %}