{% extends "layout.html" %}

{% block content %}


<div class="row carousel-row no-gutters">

    <div class="col-2 sides"></div>

    <div class="col-8 justify-content-center text-center">

        <div class="jumbotron about">
            <h1 class="display-4 mb-5">Dom tymczasowy</h1>

            <p class="lead mt-5">Czym jest dom tymczasowy?<br>

                Dom tymczasowy to dom, w którym kot przebywa przez pewien okres czasu. Czasami jest to miesiąc, czasami
                pół roku. Kot opuszcza dom tymczasowy z chwilą znalezienia mu domu stałego.<br><br>

                Dlaczego domy tymczasowe są potrzebne?<br>

                Fabryka Mruczenia nie mogłaby działać bez domów tymczasowych. To jedyne miejsca gdzie możemy ulokować
                nasze koty. Taka forma pomocy jest najważniejsza i najbardziej potrzebna. Często mimo finansowych
                możliwości pomocy nie możemy przyjąć do nas kociaka, ponieważ nie ma on gdzie poczekać na dom stały.
                Ludzie proszą nas o pomoc dla różnych kotów - chorych, wycofanych i takich, które potrzebują opieki
                przez całą dobę. Takie koty bez pomocy mogą nie przeżyć - zostać na ulicy lub w schronisku bez szans na
                lepsze życie. Własnie dlatego domy tymczasowe są nam tak bardzo potrzebne.<br><br>

                Jakie są zadania domu tymczasowego?<br>

                Główne zadanie domu tymczasowego to oddanie zwierzakowi trochę ciepłego miejsca w domu i
                zainteresowania. Na tydzień, miesiąc, a może pół roku. Wszystko zależy od kota. Często potrzebny jest
                też czas - na wizyty u weterynarza (dobrze gdyby dom tymczasowy był mobilny), konsultacje z behawiorystą
                lub obserwacje zwierzaka w domu. I tak naprawdę tylko (AŻ) tyle dają od siebie domy tymczasowe. Resztą
                zajmujemy się my - opłacamy leczenie, karmę, żwirek i szukamy zwierzakowi domu stałego.<br>

                Ludzie, którzy zdecydowali się zostać naszymi domami tymczasowymi zyskali bardzo wiele. Przyczynianie
                się do ratowania życia zwierzętom jest satysfakcjonujące i motywujące. Serce rośnie, gdy widzi się
                postępy w leczeniu lub wychowaniu kota. Czasami możemy zyskać nowego członka rodziny. Często zdarza się,
                że dom tymczasowy kota staje się jego domem stałym. :)<br>

                Jeśli chcesz zostać naszym domem tymczasowym napisz do nas wiadomość prywatną!
                Szukamy domów tymczasowych na terenie Poznania i Wrześni.<br>
                Wierzcie nam - warto! :)
            </p>

            <hr class="my-4">
            <p>Więcej informacji</p>
            <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="mailto:fabrykamruczenia@gmail.com"><i class="far fa-envelope fa-3x"></i></a>
        </div>

    </div>

    <div class="col-2 sides"></div>

</div>


{% endblock %}