{% extends "static/staticLayout.html" %}

{% block body %}

<h1 class="display-4 mb-5">Mruczący bazarek</h1>

<a style="text-decoration: none;"
    href="https://facebook.com/events/s/mruczacy-bazarek-charytatywni-/363289330506236/?ti=as&__mref=mb">Link do
    bazarku</a><br>

<p class="lead mt-5">Mruczący bazarek to osoby i firmy wspierające Fabrykę Mruczenia. Możesz do nas dołączyć i wystawić
    coś
    na licytację, możesz wejść i kupić, albo tylko pooglądać i udostępnić wśród swoich znajomych. Każda
    pomoc się liczy. wszyscy działamy charytatywnie.<br>
    Zainteresowane osoby prosimy o kontakt poprzez prywatną wiadomość lub mailowy <a style="text-decoration: none;"
        href="mailto:kontakt@fabrykamruczenia.pl">kontakt@fabrykamruczenia.pl</a>
</p>

{% endblock %}