{% extends "layout.html" %}

{% block content %}

<div class="cats">
    {% for row in cats %}
    <div class="row no-gutters cats-row justify-content-center" id="adoptedRow"> 
        {% for cat in row %}

        <div class="col-lg d-flex justify-content-center text-center">

            <div class="card" style="width: 18rem;" id="adoptedCard">
                <a href="/cats/{{ cat.name }}{{ cat.id }}">
                    <img class="card-img-top" src="{{ cat.picture }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <hr class="my-4">
                    <h5 class="card-title">{{ cat.name }}</h5>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% endblock %}