{% extends "layout.html" %}

{% block content %}

<div class="row carousel-row no-gutters">

  <div class="col-2 sides"></div>

  <div class="col-8 justify-content-center text-center">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <a href="/Dom-tymczasowy">
            <img src="/static/homePage/dom.jpg" class="d-block w-100" alt="...">
          </a>
        </div>

        <div class="carousel-item">
          <a
            href="https://www.facebook.com/fabrykamruczenia/photos/ms.c.eJwFwQkRACAMAzBH3Cj95t8YCRH76nUncnWICEWpRh5~;c7sG0A~-~-.bps.a.2134240349979877/4275282845875606/">
            <img src="/static/homePage/pianka.png" class="d-block w-100" alt="...">
          </a>
        </div>

        <div class="carousel-item">
          <a href="/cats/kociaki">
            <img src="/static/homePage/info.png" class="d-block w-100" alt="...">
          </a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-2 sides"></div>

</div>

<div class="row about-row no-gutters">

  <div class="col-2 sides"></div>

  <div class="col-8 justify-content-center text-center">

    <div class="jumbotron about">
      <h1 class="display-4">O nas!</h1>
      <p class="lead">Fabryka Mruczenia to grupa wolontariuszy Fundacji Prawnej Ochrony Zwierząt Lex Nova, która zajmuje
        się pomocą kotom w Poznaniu i okolicy.<br><br>
        Kim jesteśmy?<br>Grupą ludzi, którym los zwierząt nie jest obojętny. Połączyła nas miłość do kotów, którym
        pomagamy
        od lat. Fabryka Mruczenia jest dla nas kontynuacją naszych działań wykonywanych dotychczas. Mamy różne zawody,
        mieszkamy w różnych miastach jednak wierzymy, że pomagać można nawet z drugiego krańca świata. Jeżeli tylko się
        chce.<br><br>Gdzie działamy?<br>Głównie na terenie Poznania, ponieważ to tutaj mamy najwięcej zaufanych domów
        tymczasowych, oraz naszą klinikę w której wyleczono już mnóstwo naszych kotów. Jednak zwierzęta trafiają do nas
        z różnych rejonów Polski. Jesteśmy stosunkowo małą grupką wolontariuszy, którzy chcą pomagać zwierzętom w miarę
        swoich możliwości. Ciągle jednak nawiązujemy nowe znajomości, dzięki którym Fabryka Mruczenia ciągle się
        rozwija.<br><br>Co robimy?<br>Naszym głównym celem jest pomoc w znalezieniu bezdomnym, skrzywdzonym kotom
        bezpiecznego i
        kochającego domu. Zanim jednak to się stanie, leczymy je, obowiązkowo kastrujemy/sterylizujemy. Jeżeli kot jest
        po przejściach, pracujemy z nim nad jego ponownym zaufaniem człowiekowi. Dopiero potem szukamy mu domu stałego,
        gdzie zwierzak będzie mógł spędzić resztę swojego życia.<br><br>Skąd mamy fundusze?<br>Od naszych darczyńców.
        Tak naprawdę
        gdyby nie ich hojność wielu kotów nie udałoby się uratować, musiałby umrzeć gdzieś pod krzakiem w męczarniach.
        To oni dają nam kredyt zaufania i środki do pomocy.<br><br>Co z tego mamy?<br>Satysfakcję, że udało nam się
        uratować kocie
        życie i podarować mi kochający dom. Tyle i aż tyle. Wolontariusze Fabryki Mruczenia za swoją pracę nie pobierają
        żadnego wynagrodzenia.<br><br>Jak możesz nam pomóc?<br>Śledząc nasz FB, udostępniając zdjęcia, ustanawiając
        miesięczne
        wpłaty stałe, zostając naszym domem tymczasowym. Form pomocy jest wiele. Fabryka Mruczenia działa od września
        2014 roku. Od tego czasu udało nam się wyadoptować ponad 270 kotów.
      </p>
      <hr class="my-4">
      <p>Zapraszamy na nasze social media oraz do kontaktu z nami</p>
      <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
      <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
      <a href="mailto:fabrykamruczenia@gmail.com"><i class="far fa-envelope fa-3x"></i></a>

    </div>

  </div>

  <div class="col-2 sides"></div>

</div>

{% endblock %}