{% extends "layout.html" %}

{% block content %}


<div class="row carousel-row no-gutters">

    <div class="col-2"></div>

    <div class="col-8 justify-content-center text-center">

        <div class="jumbotron" id="about">
            <h1 class="display-4 mb-5">Kontakt</h1>

            <p class="lead mt-5">Zapraszamy do kontaktu przez naszego Facebooka lub maila<br>
                Skontaktujemy się najszybciej jak będziemy mogli</p>
            <hr class="my-4">
            <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="mailto:fabrykamruczenia@gmail.com"><i class="far fa-envelope fa-3x"></i></a>
        </div>

    </div>

    <div class="col-2"></div>

</div>


{% endblock %}