{% extends "layout.html" %}

{% block content %}

<div class="row carousel-row no-gutters">

  <div class="col-2"></div>

  <div class="col-8 justify-content-center text-center">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/homePage/cat1.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/homePage/cat2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/homePage/cat3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-2"></div>

</div>

<div class="row about-row no-gutters">

  <div class="col-2"></div>

  <div class="col-8 justify-content-center text-center">

    <div class="jumbotron" id="about">
      <h1 class="display-4">O nas!</h1>
      <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam repudiandae voluptates commodi
        magnam nihil rem quaerat voluptatibus dolore, deleniti itaque fugiat nam. Hic voluptatem possimus id ad
        doloremque ea, modi soluta commodi, consequatur nobis autem labore! Cum qui asperiores nihil, aspernatur dolorem
        eligendi voluptas nulla eveniet accusamus at minus, deserunt mollitia deleniti, nisi eaque ipsa numquam! Debitis
        hic eius vel natus optio dolor laborum deleniti repellendus possimus rerum dolorum velit, dolores suscipit modi
        odit numquam minus nostrum, ex quam. Accusantium perferendis tenetur iste dolores quos, esse magni, distinctio,
        maiores et consequuntur libero voluptatum aliquam quo quia! Incidunt neque delectus unde. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iste, distinctio fugiat, exercitationem id maxime, perferendis eius suscipit
        at quod corrupti maiores! Consectetur vero neque ea earum maiores. Quos iusto, sed totam recusandae consequatur
        iure dolor incidunt corporis laboriosam perspiciatis aperiam facere, eum placeat praesentium quia est illum
        quasi beatae molestiae?</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
      <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
    </div>

  </div>

  <div class="col-2"></div>

</div>

{% endblock %}