{% extends "layout.html" %}

{% block content %}

<div class="row carousel-row no-gutters">

  <img id="topPhoto" src="/static/homePage/P9212626.jpg" alt="">

  <div class="jumbotron" id="about">
    <h4 class="display-4">O nas!</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam repudiandae voluptates commodi
      magnam nihil rem quaerat voluptatibus dolore, deleniti itaque fugiat nam. Hic voluptatem possimus id ad
      doloremque ea, modi soluta commodi, consequatur nobis autem labore! Cum qui asperiores nihil, aspernatur dolorem
      eligendi voluptas nulla eveniet accusamus at minus, deserunt mollitia deleniti, nisi eaque ipsa numquam! Debitis
      hic eius vel natus optio dolor laborum deleniti repellendus possimus rerum dolorum velit, dolores suscipit modi
      odit numquam minus nostrum, ex quam. Accusantium perferendis tenetur iste dolores quos, esse magni, distinctio,
      maiores et consequuntur libero voluptatum aliquam quo quia! Incidunt neque delectus unde. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Iste, distinctio fugiat, exercitationem id maxime, perferendis eius suscipit
      at quod corrupti maiores! Consectetur vero neque ea earum maiores. Quos iusto, sed totam recusandae consequatur
      iure dolor incidunt corporis laboriosam perspiciatis aperiam facere, eum placeat praesentium quia est illum
      quasi beatae molestiae?</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
    <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
  </div>

</div>

{% endblock %}