{% extends "layout.html" %}

{% block content %}


<div class="row carousel-row no-gutters">

    <div class="col-2"></div>

    <div class="col-8 justify-content-center text-center">

        <div class="jumbotron" id="about">
            <h1 class="display-4 mb-5">Wirtualna adopcja</h1>

            <p class="lead mt-5">Wirtualna adopcja, to adopcja na odległość. Wirtualny opiekun pomaga fundacji w
                leczeniu i utrzymaniu kotka, który przypadł mu do serca, regularnie wpłacając co miesiąc zadeklarowaną
                wcześniej kwotę na konto fundacji.<br>
                To podstawowa różnica pomiędzy wirtualną adopcją a zwykłą darowizną - pomoc musi być regularna.
                To propozycja i prośba skierowana do tych, którzy kochają koty, chcą im pomagać, ale z różnych względów
                nie mogą ich adoptować. Również do tych zamożnych, którym niczego nie brakuje, a chcieliby po prostu
                zrobić coś dobrego.<br><br>
                Wirtualny opiekun otrzymuje kontakt do domu tymczasowego w którym przebywa kot, więcej zdjęć i filmów
                niż publikujemy na stronie. Może uczestniczyć w jego życiu, korespondować z opiekunem kota.
                Czasami rodzą się z tego nowe kocio - ludzkie przyjaźnie, a czasami jest to tylko wymiana zdjęć. To już
                zależy od zaangażowania obu stron.<br><br>
                Opiekunem wirtualnym może być osoba fizyczna, firma, grupa znajomych.
                Osoba, która adoptuje kota wirtualnie wpłaca co miesiąc, zadeklarowaną wcześniej kwotę na konto
                fundacji, wpisując w pole tytułem W.A. - imię kota. Minimalna wpłata przy wirtualnej adopcji wynosi 25
                zł. To dobrowolna deklaracja. Jeżeli w którymś miesiącu pieniądze nie wpłyną, nie ma żadnych problemów.
                Jeden kot może mieć kilku wirtualnych opiekunów.<br><br>
                Wirtualna adopcja kończy się z chwilą znalezienia kotu domu stałego, ale można się z niej wycofać
                wcześniej.<br>
                Było by nam bardzo miło, gdyby zechcieli Państwo dołączyć do grona naszych wirtualnych opiekunów. Jeżeli
                25 zł/ miesiąc to za duży wydatek, można również zrobić jednorazową darowiznę dla wybranego przez siebie
                kotka, wpisując w tytule przelewu DAROWIZNA - IMIĘ KOTA<br><br>
                Dane do wpłat<br>
                Fundacja Prawnej Ochrony Zwierząt LEX NOVA<br>
                Numer rachunku bankowego:<br>
                03 1440 1228 0000 0000 1742 1255 z dopiskiem W. A. - imię kota<br>
                PayPal fpoz.lex.nova@gmail.com z dopiskiem W. A. - imię kota<br>
                Dla przelewów z zagranicy:<br>
                IBAN: PL 03 1440 1228 0000 0000 1742 1255<br>
                SWIFT: BPKOPLPW 03 1440 1228 0000 0000 1742 1255<br>
                KRS 0000513901<br>
                NIP 8161702562<br>
                REGON 181142490<br><br>
                Za każdą pomoc bardzo dziękujemy.<br>
            </p>
            
            <hr class="my-4">
            <p>Więcej informacji</p>
            <a href="https://www.instagram.com/fabryka_mruczenia/"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://www.facebook.com/fabrykamruczenia"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="mailto:fabrykamruczenia@gmail.com"><i class="far fa-envelope fa-3x"></i></a>
        </div>

    </div>

    <div class="col-2"></div>

</div>


{% endblock %}